body {
	color: #d8d8d8;
	background-color: #181818;
	font: 16px monospace;
	overflow-y: scroll;
}

pre {
	display: block;
}

a {
	color: #7cafc2;
	text-decoration: none;
}

#content {
	display: table;
	margin: 16px auto;
	overflow-x: hidden;
	max-width: 80ch;
}

#title {
	color: #f7ca88;
}
